<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lx.springbootlearn.dao.HealthGuideMapper" >
  <resultMap id="BaseResultMap" type="com.lx.springbootlearn.model.HealthGuide" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="icd10" property="icd10" jdbcType="VARCHAR" />
    <result column="diagnosis" property="diagnosis" jdbcType="VARCHAR" />
    <result column="health_guide" property="healthGuide" jdbcType="VARCHAR" />
    <result column="frequency" property="frequency" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from health_guide
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lx.springbootlearn.model.HealthGuide" >
    insert into health_guide (id, icd10, diagnosis, 
      health_guide, frequency)
    values (#{id,jdbcType=INTEGER}, #{icd10,jdbcType=VARCHAR}, #{diagnosis,jdbcType=VARCHAR}, 
      #{healthGuide,jdbcType=VARCHAR}, #{frequency,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lx.springbootlearn.model.HealthGuide" >
    update health_guide
    set icd10 = #{icd10,jdbcType=VARCHAR},
      diagnosis = #{diagnosis,jdbcType=VARCHAR},
      health_guide = #{healthGuide,jdbcType=VARCHAR},
      frequency = #{frequency,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, icd10, diagnosis, health_guide, frequency
    from health_guide
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, icd10, diagnosis, health_guide, frequency
    from health_guide
  </select>
</mapper>